body {
  background: linear-gradient(to right, #808080, #ffffff);
  font-size: 12px;
}

.background {
  display: flex;
  min-height: 100vh;
}

.container {
  flex: 0 1 700px;
}

/* ... Diğer kodlar ... */

/* Güncellenen renkler */

.screen-header {
  background: #808080;
}

.app-title {
  color: #282828;
}

.app-form-control {
  border-bottom: 1px solid #282828;
  color: #ddd;
}

.app-form-control:not(:placeholder-shown) {
  border-bottom-color: #282828;
  color: #1D4665; 
}

.app-form-button {
  color: #fff;
  background-color: #282828;
}

.linkedin-link {
  color: #282828;
}

.linkedin-link:hover {
  color: #176397;
}
